click==8.1.2
colorama==0.4.4
dnspython==2.2.1
Flask==2.1.1
Flask-Login==0.6.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.1
greenlet==1.1.2
importlib-metadata==4.11.3
is-disposable-email==1.0.0
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
SQLAlchemy==1.4.35
toml==0.10.2
Werkzeug==2.1.1
WTForms==3.0.1
wtforms-validators==1.0.0
zipp==3.8.0
