{% extends "layout.html" %}

{% block content %}

<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="bodyoffset">
        <div class="twocolumncontainer">
            <div class="column">
                <div class="homepageheadercontainer">
                    <h1 class="homepageheader">CIF Print Server</h1>

                    <p class="homepagetext">Welcome to the CIF Print Server! To print, log in to your CIF Lab Account.
                        Don't have an account?
                        Register at
                        x. Copies can be picked up at the CIF Lab in the basement of Anderson.</p>
                </div>
            </div>
            <div class="column">
                <p class="homepagetext">Proin venenatis ante sed nisi suscipit, vel rutrum enim auctor. Morbi faucibus
                    magna at purus laoreet
                    consequat. </p>
            </div>


        </div>

    </div>
</body>

{% endblock %}