<!DOCTYPE html>
<html>
 
<head>
    <title>Home</title>
    <link rel="stylesheet" href="static/style.css">
</head>
 
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/print">Print</a>
        <a href="/login">Login</a>
        <a href="/termsofuseandfaq">Terms of & FAQ</a>
        <a href="cif.rochester.edu">CIF Home</a>
    </div>
    <h1>CIF Print Server</h1>
 
    <p>Welcome to the CIF Print Server! To print, log in to your CIF Lab Account. Don't have an account? Register at x. Copies can be picked up at the CIF Lab in the basement of Anderson.</p>
</body>
 
</html>