{% extends "layout.html" %}

{% block content %}

<head>
    <title>Printer Selection</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div>
        <h2 class="printinheader">I want to print in...</h2>
        <a href="/printbw"><button type="button" class="blockleft" href="/printbw"><img class="buttonimg" src="/static/printbwicon.png"></br></br>Black & White</button></a>
        <a href="/printcolor"><button type="button" class="blockright"><img class="buttonimg" src="/static/printcoloricon.png"></br></br>Color</button></a>
    </div>
    <div class="acknowledgement">
        <h5>By continuing, you acknowledge that the printers are located in the CIF lab on Anderson B, and that you must pick up all prints here.</h5>
    </div>
</body>
{% endblock %}