{% extends "layout.html" %}

{% block content %}

<head>
    <title>Printer Selection</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <!-- COMMENTED OUT WHILE FIXING SIZING ISSUES
    <div class="flex-container">
        <div>
        <h2 class="printinheader">I want to print in...</h2>
        </div>
    </div>
    <div class="printselectbuttons">
        <a href="/printbw"><button type="button" class="blockleft" href="/printbw"><img class="buttonimg" src="/static/printbwicon.png"></br></br>Black & White</button></a>
        <a href="/printcolor"><button type="button" class="blockright"><img class="buttonimg" src="/static/printcoloricon.png"></br></br>Color</button></a>
    </div>
    <div class="acknowledgement">
        <h5>By continuing, you acknowledge that the printers are located in the CIF lab on Anderson B, and that you must pick up all prints here.</h5>
    </div>
</div> -->

    <div class="printheaderdiv">
    <center>
        <h2>I want to print in...</h2>
    </center>
    </div>
    <center>
        <div class="printselectbuttons">
            <a href="/printbw"><button type="button" class="blockleft" href="/printbw"><img class="buttonimg"
                        src="/static/printbwicon.png"></br></br>Black & White</button></a>
            <a href="/printcolor"><button type="button" class="blockright"><img class="buttonimg"
                        src="/static/printcoloricon.png"></br></br>Color</button></a>
        </div>
    </center>
    <div class="acknowledgement">
        <h5>By continuing, you acknowledge that the printers are located in the CIF lab on Anderson B, and that you must pick up all prints here.</h5>
    </div>
</body>
{% endblock %}