{% extends "layout.html" %}

{% block content %}

<head>
    <title>Black & White Printer</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h2 class="printinheader">Black & White Printer</h2>
    <div>
        <form action="{{ url_for('printbw') }}" method="post" class="formlayout">
            </br>
            <label for="file">Select a File:</label>
            <input type="file" id="file" name="file">
            </br>

            <label for="copies">Number of Copies (limit 5):</label>
            <input type="text" id="copies" name="copies">
            </br>

            <label for="dbsided">Double-Sided</label>
            <input type="checkbox" id="dbsided" name="dbsided">
            </br>

            <label for="landscape">Landscape</label>
            <input type="checkbox" id="landscape" name="landscape">
            </br>

            <label for="printall">Print All Pages</label>
            <input type="checkbox" id="printall" name="printall">

            <label for="pagerangebool">Select Page Range</label>
            <input type="checkbox" id="pagerangebool" name="pagerangebool">
            </br>
            </br>

            <input type="submit" id="Print" name="Print" class="printbutton">

        </form>
    </div>
</body>
{% endblock %}