{% extends "layout.html" %}

{% block content %}

<head>
    <title>Color Printer</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h2 class="printinheader">Color Printer</h2>
    <div>
        <form action="{{ url_for('printcolor') }}" method="post" class="formlayout">
            {{ form.csrf_token }}
            </br>
            <label for="file">Select a File:</label>
            <input type="file" id="file" name="file">
            </br>

            <label for="copies">Number of Copies (limit 5):</label>
            <input type="text" id="copies" name="copies">
            </br>

            <label for="landscape">Landscape</label>
            <input type="checkbox" id="landscape" name="landscape">
            </br>

            <label for="printall">Print All Pages</label>
            <input type="checkbox" id="printall" name="printall" checked="True" onclick="ShowHideDiv(this)">
            </br>
            </br>
            <div id="pagerange" style="display: none">
                <label for="startpage">Page Range:</label>
                <input type="text" id="startpage" name="startpage">
                <input type="text" id="endpage" name="endpage">
            </div>
            <br/>

            <input type="checkbox" id="acknowledgement" name="acknowledgement">
            <label for="acknowledgement">I comply with the CIF Lab Terms of Use, and acknowledge that printer misuse may
                result in a permanent suspension of lab privileges.</label>
            <br/>
            <br/>

            <input type="submit" id="print" name="print" class="printbutton">

        </form>
    </div>
    <script type="text/javascript">
        function ShowHideDiv(printall) {
            var pagerange = document.getElementById("pagerange");
            pagerange.style.display = printall.checked ? "none" : "block";
        }
    </script>
</body>
{% endblock %}